@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #341611;
  color: #f8f5f2;
}


.mono {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 48px;
}

nav {
  height: 72px;
}
