@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');


html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #341611;
  color: #f8f5f2;
}

.mono {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.prose img {
  margin: 1rem auto;
  border-radius: 5px;
  height: 400px;
  width: auto;
}

section img {
  width: 150px;
  height: 180px;
}

nav {
  height: 72px;
}

code {
  background-color: #4f4543;
  color: #f8f5f2;
  padding: 8px;
  border-radius: 3px;
  line-height: 3;
}

main button {
  margin: auto;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: #341611;
    width: 100vw;
    height: 64px;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    border-width: 100%;
  }

  nav a {
    text-align: center;
    margin: auto;
  }

  #main-img {
    display: none;
  }
  
}

